<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/css/base.css">
  <link rel="stylesheet" href="static/css/person.css">
  <link rel="stylesheet" href="static/iconfont/iconfont.css">
{#    static/images#}
</head>

<body>
  <!-- 左边 -->
  <div class="left_bar">
    <!-- 教育部和真实数据按钮 -->
    <div class="active">真教</div>
    <!-- 高年级和低年级按钮 -->
    <div class="">年级</div>
    <!-- 主外城区 -->
    <div class="">地区</div>
    <!-- 个性化推荐 -->
    <div class="">个性化推荐</div>
  </div>
  <!-- 右边个性化推荐 -->
  <div class="right_content2">
    <div class="left">
      <div class="leftTop">
        <div class="books">
          <div class="title">
            书籍    <a href="#" class="more">更多>></a>
          </div>
          <ul class="booksWrap">
            <a href="#">
              <img src="image/book1.png" alt="">
              <span class="bookTitle">时代科技</span>
            </a>
            <a href="#" onclick="showBook()">
              <img src="image/book2.png" alt="">
              <span class="bookTitle">活着</span>
            </a>
            <a href="#">
              <img src="image/book3.png" alt="">
              <span class="bookTitle">志存当高远</span>
            </a>
          </ul>

        </div>
        <div class="centerRole" onclick="showYourself()"><img src="image/bigPer.png" alt=""></div>
      </div>
      <div class="studyWay">
        <div class="title">
          学习方法
        </div>
        <div class="content">
          <p>您平时阅读书目较多，但多为图画书，种类较为单一。为了提高您的文学素养，增强情感智慧，拓宽会和历史视野，我们推荐您：
          </p>
          <p>1.每天阅读60分钟推荐书目
            2.营造一个整洁的学习环境
            3.每次阅读后提出感悟并总结笔记</p>
        </div>
      </div>
    </div>
    <div class="rightPerson">
      <div class="title">学习伙伴</div>
      <ul class="perWrap">
        <li>
          <img src="image/per1.png" alt="">
          <span class="uname">张三</span>
          <span class="iconfont icon-plus-circle"></span>
        </li>
        <li>
          <img src="image/per2.png" alt="">
          <span class="uname">李四</span>
          <span class="iconfont icon-plus-circle"></span>
        </li>
        <li>
          <img src="image/per1.png" alt="">
          <span class="uname">王五</span>
          <span class="iconfont icon-plus-circle"></span>
        </li>
        <li>
          <img src="image/per2.png" alt="">
          <span class="uname">赵六</span>
          <span class="iconfont icon-plus-circle"></span>
        </li>
        <li>
          <img src="image/per1.png" alt="">
          <span class="uname">酒七</span>
          <span class="iconfont icon-plus-circle"></span>
        </li>
        <li>
          <img src="image/per2.png" alt="">
          <span class="uname">小八</span>
          <span class="iconfont icon-plus-circle"></span>
        </li>
      </ul>
    </div>

  </div>

  <div class="right_book">
    <div class="iconfont icon-back"></div>
    <div class="fir">
      <img src="image/book2.png" alt="活着">
      <div class="desc">
        <span class="title">活着</span><span class="author">作者：余华</span>
        <p>简介：《活着》是中国当代作家余华创作的长篇虚构小说，首次发表于《收获》1992年第6期。 </p>
        <p>
          《活着》讲述了在大时代背景下，随着内战、三反五反、大跃进、“文化大革命”等社会变革，徐福贵的人生和家庭不断经受着苦难，到了最后所有亲人都先后离他而去，仅剩下年老的他和一头老牛相依为命。小说以普通、平实的故事情节讲述了在急剧变革的时代中福贵的不幸遭遇和坎坷命运，在冷静的笔触中展现了生命的意义和存在的价值，揭示了命运的无奈，与生活的不可捉摸。
        </p>
      </div>
    </div>
    <div class="pages">
      <span>第一章</span><span>第二章</span><span>第三章</span><span>第四章</span><span>第五章</span><span>第六章</span><span>第七章</span><span>第八章</span><span>第九章</span>
    </div>
    <div class="articals">
      一位真正的作家永远只为内心写作，只有内心才会真实地告诉他，他的自私、他的高尚是多么突出。内心让他真实地了解自己，一旦了解了自己也就了解了世界。很多年前我就明白了这个原则，可是要捍卫这个原则必须付出艰辛的劳动和长时期的痛苦，因为内心并非时时刻刻都是敞开的，它更多的时候倒是封闭起来，于是只有写作、不停地写作才能使内心敞开，才能使自己置身于发现之中，就像日出的光芒照亮了黑暗，灵感这时候才会突然来到。
      长期以来，我的作品都是源于和现实的那一层紧张关系。我沉湎于想象之中，又被现实紧紧控制，我明确感受着自我的分裂，我无法使自己变得纯粹，我曾经希望自己成为一位童话作家，要不就是一位实实在在作品的拥有者，如果我能够成为这两者中的任何一个，我想我内心的痛苦将轻微很多，可是与此同时我的力量也会削弱很多。
      事实上我只能成为现在这样的作家，我始终为内心的需要而写作，理智代替不了我的写作，正因为此，我在很长一段时间里是一个愤怒和冷漠的作家。
      这不只是我个人面临的困难，几乎所有优秀的作家都处于和现实的紧张关系中，在他们笔下，只有当现实处于遥远状态时，他们作品中的现实才会闪闪发亮。应该看到，这过去的现实虽然充满了力，可它已经蒙上了一层虚幻的色彩，那里面塞满了个人想象和个人理解。真正的现实，也就是作家生活中的现实，是令人费解和难以相处的。
    </div>
    <a href="javascript:;" class="searchForMore"> 查看更多内容 >></a>
  </div>

  <div class="right_per">
    <div class="iconfont icon-back"></div>
    <div class="fir">
      <img src="image/bigPer.png" alt="">
      <span class="age">10岁</span>
      <span class="city">广州</span>
      <span class="hasRead">已阅读26本书</span>
      <span class="hobbyRead">偏好为文学类作品</span>
      <span class="personality">善良的男孩</span>
    </div>
    <div class="sec">
      <div class="cirPic"></div>
      <div class="zzPic"></div>
      <div class="cyPic"></div>
    </div>
  </div>
</body>

</html>
<script>
    window.onload = function() {
        var xhr = new XMLHttpRequest();
    xhr.open('GET', '/load', true); // 请替换为你的后端接口地址
    xhr.onload = function() {
        if (xhr.status == 200) {
            // 解析响应数据为JSON对象
            var responseData = JSON.parse(xhr.responseText);
            console.log(responseData); // 输出idandname对象
            var jsonString = JSON.stringify(responseData);
            var data = JSON.parse(jsonString);
            // 现在你可以访问解析后的数据
            console.log(data.idandname); // 输出idandname对象
            console.log(data.friend); // 输出friend对象

            // 获取idandname和friend字典



            // 你可以根据需要进一步处理这些数据，例如将它们用于更新页面或其他操作
        } else {
            console.error('Failed to load data');
        }
    };

    xhr.send();
    };

    function updateBookTitles(books) {
        var ul = document.querySelector('.booksWrap');
        ul.innerHTML = ''; // 清空现有内容

        for (var bookId in books) {

        if (books.hasOwnProperty(bookId)) {
            var li = document.createElement('li');
            var a = document.createElement('a');
            a.href = '#'; // 根据需要设置链接


            var idSpan = document.createElement('span');
            idSpan.className = 'bookId';
            idSpan.textContent = 'ID: ' + bookId;

            var titleSpan = document.createElement('span');
            titleSpan.className = 'bookTitle';
            titleSpan.textContent = ' - ' + books[bookId];

            a.appendChild(idSpan);
            a.appendChild(titleSpan);

            li.appendChild(a);

            ul.appendChild(li);
        }
    }
    }
</script>